<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link href="classpath:styles/style.css" rel="stylesheet"/>
</head>
<body>
<!--<img src="classpath:images/background.png" alt="logo" th:width="11.59in" th:height="8.19in"></img>-->
<img src="classpath:images/background.png" alt="logo" th:width="11.69in" th:height="8.29in"></img>
<div style="page-break-before: always;"></div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Alica</td>
        <td>18</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bob</td>
        <td>25</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Cat</td>
        <td>5</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Dog</td>
        <td>10</td>
    </tr>
    </tbody>
</table>

</body>
</html>